# 忽略日志文件
logs/
*.log

# 数据文件和会话文件
data/assets
data/vector_store/
data/sessions/
data/*.json
data/*.pkl

# 环境变量文件
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 测试脚本
test/

# 模型文件
models/